<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hrbing.shop.module.main">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"/>
    </application>
</manifest>
